@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f6fa;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
